<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- chenge a next line (4) to button add: icon, routerlink... -->
      <button routerLink="/gitHubUsers">
        <img src="../assets/AJ-Moon-2.svg"  alt="" width="35" height="30" class="d-inline-block align-text-top">
      </button>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">      

          <button type="button" class="btn btn-dark" routerLink="/home">Home</button>
          <button type="button" class="btn btn-dark" routerLink="/login">Login</button>        
          <button type="button" class="btn btn-dark" routerLink="/about">About</button>
          <button type="button" class="btn btn-dark" routerLink="/heroesTutorial">Heroes Tutorial</button>
          
        </div>
      </div>
    </div>
  </nav>