<p>login works!</p>


<form [formGroup]="userNamePassGroup" class="example-container">
  
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your email</mat-label>
      <input formControlName='email' matInput  placeholder="pat@example.com">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-error *ngIf="userNamePass.email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <br>
  <div >
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input formControlName='password' matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="userNamePass.password.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

</form>